div
	box-sizing border-box
// 主题黄
$yellow = #cea16a
// 主题黑
$black = #201c19
// 主题棕色
$brown = #423c31
// 主题红色
$red = #ff4c4c
// 成功提示色
$success = #09bb07
// 行高
.lh10
	line-height 10px
.lh16
	line-height 16px
.lh24
	line-height 24px
.lh25
	line-height 25px
.lh30
	line-height 30px
.lh35
	line-height 35px
.lh40
	line-height 40px
.lh45
	line-height 45px
.lh50
	line-height 50px
// 字体大小
.fs12
	font-size 12px
.fs13
	font-size 13px
.fs14
	font-size 14px
.fs15
	font-size 15px
.fs16
	font-size 16px
.fs17
	font-size 17px
// padding 值
.pl10
	padding-left 10px
.plr10
	padding-left 10px
	padding-right 10px
.plr20
	padding-left 20px
	padding-right 20px
.pr10
	padding-right 10px
.pt20
	padding-top 20px
.ptb8
	padding-top 8px
	padding-bottom 8px
// margin 值
.mr40
	margin-right 40px
// 边框 border
.borderT
	border-top 1px solid $yellow
.borderB
	border-bottom 1px solid $yellow
.borderTB
	border-top 1px solid $yellow
	border-bottom 1px solid $yellow
// 字体颜色
.colYellow
	color $yellow
.col999
	color #999999
.colb2
	color #b2b2b2
.rgba7
	color rgba(255, 255, 255, 0.7)
.red
	color #ff5c6c
.colWhite
	color #ffffff
.colSuccess
	color #07c160
// 背景色
.bgYellow
	background $yellow
.bgBlack
	background $black
.bgBrown
	background $brown
.bgWhite
	background #ffffff
// 布局
.flexlr
	display flex
	justify-content space-between
.flextb
	display flex
	flex-direction column
	justify-content space-between
// 字重
.bold
	font-weight bold
// text-align
.text-l
	text-align left
.text-r
	text-align right
.text-c
	text-align center
.text-j
	text-align justify
